body {
  background-color: #8ADEFE;
  margin: 0;
  padding: 0;
}
header {
  background-color: #F72B3B;
  color: #111;
  width: 100%;
  vertical-align: middle;
}
header div {
  padding: 0 1em;
}
.right {
  float: right;
}
a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
.jumbotron {
  width: 600px;
  height: auto;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  background-color: #3D9970;
  border-radius: 10px;
  text-align: center;
}
