body {
  background-color: #8ADEFE;
  margin: 0;
  padding: 0;
}
header {
  background-color: #F72B3B;
  color: #111;
  height: 1em;
}
.left {
  float: left;
  padding-left: 1em;
}
.right {
  float: right;
  padding-right: 1em;
}
a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
